@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column .column-1 {
  background: url("./images/bg.jpg") no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-columns .column .column-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5200ff;
  opacity: 0.7;
}

.content {
  color: #fff;
  position: relative;
  z-index: 10;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}

.content h1 {
  font-weight: bold;
  font-size: 46px;
  margin-bottom: 15px;
}

.content p {
  font-size: 20px;
  opacity: 0.8;
}

.flex-columns .column .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callback-form {
  width: 70%;
  margin: 0 auto;
}

.form-control {
  padding: 15px 0;
  margin-bottom: 15px;
}

.form-control label {
  display: block;
  font-size: 20px;
}

.form-control input {
  padding: 10px 20px;
  width: 100%;
  margin: 5px;
  border: 2px solid #5200ff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #5200ff;
  margin-left: 4px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .flex-columns .row {
    display: flex;
    flex-direction: column;
    height: 130vh;
  }
  .flex-columns .column .column-1 {
    height: 75vh;
  }
}

@media (max-width: 760px) {
  .flex-columns .row {
    display: flex;
    flex-direction: column;
    height: 130vh;
  }

  .content h1 {
    font-size: 32px;
  }
  .content p {
    font-size: 14px;
  }
}
